.user-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #dcdcdc;
  box-shadow: 2px 2px 4px #444;
  border-radius: 2%;
  width: 30vw;
  margin: 20px auto;
  transition: all 100ms ease-in-out;
  &:hover {
    cursor: pointer;
    background: #333;
    transform: scale(1.02);
    h1 {
      color: dodgerblue;
    }
  }
  h1 {
    padding: 10px;
    font-family: "Nunito", sans-serif;
  }
}
