<div id="addCard-container">
  <form  (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="card_number" name="card_number" placeholder="Card Number" />
    <button type="submit">Add Card</button>
  </form>
</div>
