#addCard-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #dcdcdc;
  padding: 20px;
  margin: 0 auto 5vh;
  width: 75vw;
  form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      background: #00000000;
      font-size: 1.2rem;
      border: 1px solid #111;
      outline: none;
      transition: all 80ms ease-in-out;
      &:hover {
        cursor: pointer;
        background: #979797;

      }
    }
  }
  input {
    width: 40%;
    outline: none;
    font-size: 1.5rem;
    background: #00000000;
    border: none;
    border-bottom: 1px solid #111;
    margin: 0 10px;
    padding: 0 5px;
  }
}
