header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    background: #0984e3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    padding: 5px 0;
    h1 {
      font-weight: 600;
      font-size: 2.8rem;
      text-shadow: 2px 2px 3px #333;
    }
  }
}

#user-search {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  input {
    width: 30vw;
    line-height: 2rem;
    font-size: 1.5rem;
    border: none;
    border-bottom: 1px solid #777;
    margin: 0 10px;
    outline: none;
    padding: 0 5px;
  }
  button {
    background: #00000000;
    border: 1px solid #2d3436;
    font-size: 0.9rem;
    transition: 70ms all ease-in-out;
    padding: 0 15px;
    &:hover {
      cursor: pointer;
      background: #2d3436;
      color: #fff;
    }
  }
  small {
    font-size: .7rem;
    position: absolute;
    bottom: 0;
  }
}
