<div>
  <header>
    <div>
      <h1>Card-Track</h1>
    </div>
    <form id="user-search" (ngSubmit)="onSearch()">
      <input [(ngModel)]="id" type="text" placeholder="Enter User Id" name="userId" />
      <small>*Unspecified for all</small>
      <button type="submit">Search</button>
    </form>
  </header>
  <app-user-card id="names-container" *ngFor="let user of users" [user]="user">
  </app-user-card>
</div>
