<div>
  <div routerLink="/" id="back-btn">
    <h1>🔙</h1>
  </div>
  <div *ngIf="user" class="user-info-card">
    <h1>{{ user.first_name + " " + user.last_name }}</h1>
    <h3>{{ user.email }}</h3>
  </div>

  <app-user-add (addCard)="addCard($event)"></app-user-add>

  <table class="card-container">
    <thead>
      <tr>
        <th>
          <strong>Card Number</strong>
        </th>
        <th>
          <strong>Card Balance</strong>
        </th>
      </tr>
    </thead>
    <tbody class="card-container__body" *ngFor="let card of cards">
      <tr>
        <td>
          <h3>{{ card.card_number }}</h3>
        </td>
        <td>
          <h3>{{ card.balance }}</h3>
        </td>
      </tr>
    </tbody>
  </table>
</div>
