.user-info-card {
  background: #dcdcdc;
  width: 60vw;
  overflow: hidden;
  box-shadow: 2px 2px 4px #333;
  margin: 10vh auto;
  padding: 30px;
}

.card-container {
  width: 75vw;
  margin: 0 auto;
  strong {
    font-size: 1.5rem;
  }
}

.card-container__body {
  &:nth-child(even) {
    background: #dcdcdc;
  }
  td {
    padding: 8px;
  }
}

#back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  transition: all 100ms ease-in-out;
  outline: none;
  &:hover {
    cursor: pointer;
    transform: translateX(-10%);
  }
}
